# CSV cleaning

## Import CSV File

In [1]:
import pandas as pd   ## libraries
import numpy as np

In [2]:
data = pd.read_csv('Relacionamentos_prov.csv')  ## import csv file with the answers
data.head(5)

,Timestamp,Idade:,Qual é o teu género?,Com que orientação sexual mais te identificas?,Qual o nível de escolaridade mais elevado que concluíste?,"Qual é a tua religião, se aplicável?",Qual é o teu salário médio bruto mensal?,"Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter: [Sinceridade]","Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter: [Lealdade]","Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter: [Auto-confiança]",...,"Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Estão totalmente comprometidos um com o outro]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [São atenciosos com o outro]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Perdoam-se mutuamente]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [São gentis um com o outro]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Existe carinho e afeto espontâneo]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Apreciam-se mutuamente de forma consistente]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Sentem-se validados pelo outro]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Sentem liberdade para serem vocês mesmos]","Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Ambos aproveitam tempo separados]",Como descreverias a tua relação?
0,2021/07/12 11:01:16 pm CET,28,Masculino,Heterossexual,Licenciatura,Ateu,1600 - 2000 euros,6,7,4,...,6.0,5.0,6.0,6.0,5.0,5.0,4.0,5.0,5.0,Casamento/Relacionamento monogâmico ou exclusivo
1,2021/07/12 11:03:44 pm CET,31,Masculino,Heterossexual,Ensino secundário ou equivalente,Católico,1000 - 1300 euros,7,7,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021/07/12 11:04:04 pm CET,27,Feminino,Heterossexual,Mestrado,Católico,1000 - 1300 euros,6,8,4,...,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,Casamento/Relacionamento monogâmico ou exclusivo
3,2021/07/12 11:04:34 pm CET,28,Masculino,Heterossexual,Mestrado,Ateu,1600 - 2000 euros,8,8,8,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,4.0,Casamento/Relacionamento monogâmico ou exclusivo
4,2021/07/12 11:12:31 pm CET,27,Masculino,Heterossexual,Licenciatura,Pastafarinismo,800 - 1000 euros,6,7,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
list(data.columns)    ## check the column names

['Timestamp',
 'Idade:',
 'Qual é o teu género?',
 'Com que orientação sexual mais te identificas?',
 'Qual o nível de escolaridade mais elevado que concluíste?',
 'Qual é a tua religião, se aplicável?',
 'Qual é o teu salário médio bruto mensal? ',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Sinceridade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Lealdade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Auto-confiança]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Coragem]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Optimismo]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Riqueza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Beleza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Inteligência]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Carisma]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Espiritualidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Generosidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Bondade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Aventureiro/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Divertido/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras ter:  [Energético/a]',
 'Encontra-se atualmente num relacionamento?',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Sinceridade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Lealdade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Auto-confiança]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Coragem]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Optimismo]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Riqueza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Beleza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Inteligência]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Carisma]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Espiritualidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Generosidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Bondade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Aventureiro/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Divertido/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características procuras num futuro parceiro?  [Energético/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Sinceridade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Lealdade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Auto-confiança]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Coragem]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Optimismo]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Riqueza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Beleza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Inteligência]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Carisma]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Espiritualidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Generosidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Bondade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Aventureiro/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Divertido/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o sexo contrário procura num parceiro/a? [Energético/a]',
 'Numa escala de 1 a 6 como classificas a tua relação?',
 'Há quanto tempo se encontram juntos?',
 'Tem filhos?',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Sinceridade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Lealdade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Auto-confiança]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Coragem]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Optimismo]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Riqueza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Beleza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Inteligência]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Carisma]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Espiritualidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Generosidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Bondade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Aventureiro/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Divertido/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a possui? [Energético/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Sinceridade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Lealdade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Auto-confiança]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Coragem]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Optimismo]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Riqueza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Beleza]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Inteligência]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Carisma]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Espiritualidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Generosidade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Bondade]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Aventureiro/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Divertido/a]',
 'Numa escala de 0 (discordo totalmente) a 8 (concordo totalmente), qual das seguintes características consideras que o teu parceiro/a valoriza? [Energético/a]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Respeitam-se mutuamente]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Permitem-se ser vulneráveis um com o outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Tem total confiança um no outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Mantém uma honestidade inabalável um com o outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Ambos dão prioridade à gentileza]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Respeitam os limites um do outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Estão totalmente comprometidos um com o outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [São atenciosos com o outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Perdoam-se mutuamente]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [São gentis um com o outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Existe carinho e afeto espontâneo]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Apreciam-se mutuamente de forma consistente]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Sentem-se validados pelo outro]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Sentem liberdade para serem vocês mesmos]',
 'Numa escala de 1 (discordo totalmente) a 6 (concordo totalmente), qual das seguintes frases consideras que descrevem a tua relação? [Ambos aproveitam tempo separados]',
 'Como descreverias a tua relação?']

## Change column names

In [4]:
## change column names + translate to English

data.columns = ['Timestamp','Age','Gender','Sexual orientation','School','Religion','Income','Personal[Sincerity]','Personal[Loyalty]','Personal[Self-confidence]','Personal[Braveness]','Personal[Optimism]','Personal[Money]','Personal[Attractiveness]','Personal[Intelligence]','Personal[Charisma]','Personal[Spirituality]','Personal[Generosity]','Personal[Kindness]','Personal[Adventurous]','Personal[Fun]','Personal[Energetic]','Relationship','Future Partner[Sincerity]','Future Partner[Loyalty]','Future Partner[Self-confidence]','Future Partner[Braveness]','Future Partner[Optimism]','Future Partner[Money]','Future Partner[Attractiveness]','Future Partner[Intelligence]','Future Partner[Charisma]','Future Partner[Spirituality]','Future Partner[Generosity]','Future Partner[Kindness]','Future Partner[Adventurous]','Future Partner[Fun]','Future Partner[Energetic]','Opposite sex[Sincerity]','Opposite sex[Loyalty]','Opposite sex[Self-confidence]','Opposite sex[Braveness]','Opposite sex[Optimism]','Opposite sex[Money]','Opposite sex[Attractiveness]','Opposite sex[Intelligence]','Opposite sex[Charisma]','Opposite sex[Spirituality]','Opposite sex[Generosity]','Opposite sex[Kindness]','Opposite sex[Adventurous]','Opposite sex[Fun]','Opposite sex[Energetic]','Relationship rate','Time together','Kids','Partner[Sincerity]','Partner[Loyalty]','Partner[Self-confidence]','Partner[Braveness]','Partner[Optimism]','Partner[Money]','Partner[Attractiveness]','Partner[Intelligence]', 'Partner[Charisma]','Partner[Spirituality]','Partner[Generosity]','Partner[Kindness]','Partner[Adventurous]','Partner[Fun]','Partner[Energetic]', 'Partner values[Sincerity]','Partner values[Loyalty]','Partner values[Self-confidence]','Partner values[Braveness]','Partner values[Optimism]','Partner values[Money]','Partner values[Attractiveness]','Partner values[Intelligence]','Partner values[Charisma]','Partner values[Spirituality]','Partner values[Generosity]','Partner values[Kindness]','Partner values[Adventurous]','Partner values[Fun]','Partner values[Energetic]','Relationship[Respect]','Relationship[Vulnerability]','Relationship[Trust]','Relationship[Honesty]','Relationship[Kindness]','Relationship[Boundaries]','Relationship[Commitment]','Relationship[Thoughtfulness]','Relationship[Forgiveness]','Relationship[Gentleness]','Relationship[Affection]','Relationship[Appreciation]','Relationship[Validation]','Relationship[Freedom]','Relationship[Alone]','Relationship type']

## Check the data

In [5]:
data.describe()  ## check data distribution

,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],Personal[Optimism],Personal[Money],Personal[Attractiveness],Personal[Intelligence],Personal[Charisma],Personal[Spirituality],...,Relationship[Boundaries],Relationship[Commitment],Relationship[Thoughtfulness],Relationship[Forgiveness],Relationship[Gentleness],Relationship[Affection],Relationship[Appreciation],Relationship[Validation],Relationship[Freedom],Relationship[Alone]
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,...,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,6.560000,7.180000,5.000000,5.320000,5.720000,4.06000,4.540000,6.020000,5.460000,3.920000,...,5.314286,5.657143,5.600000,5.485714,5.600000,5.685714,5.542857,5.485714,5.571429,5.314286
std,1.372619,1.466497,1.603567,1.448997,1.818723,1.81164,1.716784,1.491336,1.501156,2.319747,...,0.795998,0.639064,0.553066,0.817868,0.603909,0.529785,0.610827,0.701739,0.698137,0.795998
min,2.000000,1.000000,0.000000,1.000000,1.000000,0.00000,0.000000,2.000000,1.000000,0.000000,...,3.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
25%,6.000000,7.000000,4.000000,5.000000,5.000000,3.00000,4.000000,6.000000,5.000000,2.000000,...,5.000000,5.500000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
50%,7.000000,8.000000,5.000000,6.000000,6.000000,4.00000,5.000000,6.000000,6.000000,4.000000,...,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
75%,7.000000,8.000000,6.000000,6.000000,7.000000,5.00000,6.000000,7.000000,6.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,8.000000,8.000000,8.000000,8.000000,8.000000,7.00000,7.000000,8.000000,8.000000,8.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

# Clean and Update dataset

In [6]:
## Age

In [7]:
data['Age'].unique()  ## check unique values

array(['28', '31', '27', '30', '23', '29', '25', '22', '33', '26',
       '25 anos', '20', '36', '21', '45', '24', '55', '54', '18', '19'],
      dtype=object)

In [8]:
data['Age'] = data['Age'].replace('25 anos','25')    ## uniform answers

In [9]:
data['Age'].unique()  ## check changes made

array(['28', '31', '27', '30', '23', '29', '25', '22', '33', '26', '20',
       '36', '21', '45', '24', '55', '54', '18', '19'], dtype=object)

In [10]:
## Gender

In [11]:
data['Gender'].unique()  ## check unique values

array(['Masculino', 'Feminino'], dtype=object)

In [12]:
data['Gender'] = data['Gender'].replace('Masculino','Male')    ## uniform answers
data['Gender'] = data['Gender'].replace('Feminino','Female')

In [13]:
data['Gender'].unique()  ## check changes made

array(['Male', 'Female'], dtype=object)

In [14]:
## Sexual orientation

In [15]:
data['Sexual orientation'].unique()  ## check unique values

array(['Heterossexual', 'Homossexual', 'Prefiro não responder'],
      dtype=object)

In [16]:
data['Sexual orientation'] = data['Sexual orientation'].replace('Heterossexual','Heterosexual')    ## uniform answers
data['Sexual orientation'] = data['Sexual orientation'].replace('Homossexual','Homosexual')
data['Sexual orientation'] = data['Sexual orientation'].replace('Prefiro não responder','Prefer not to disclose')

In [17]:
data['Sexual orientation'].unique()  ## check changes made

array(['Heterosexual', 'Homosexual', 'Prefer not to disclose'],
      dtype=object)

In [18]:
## School

In [19]:
data['School'].unique()  ## check unique values

array(['Licenciatura', 'Ensino secundário ou equivalente', 'Mestrado',
       'Doutoramento'], dtype=object)

In [20]:
data['School'] = data['School'].replace('Licenciatura','Bachelor')    ## uniform answers
data['School'] = data['School'].replace('Ensino secundário ou equivalente','High school')
data['School'] = data['School'].replace('Mestrado','Master')
data['School'] = data['School'].replace('Doutoramento','Doctorate')

In [21]:
data['School'].unique()  ## check changes made

array(['Bachelor', 'High school', 'Master', 'Doctorate'], dtype=object)

In [22]:
## Religion

In [23]:
data['Religion'].unique()  ## check unique values

array(['Ateu', 'Católico', 'Pastafarinismo', 'Agnóstico', 'Não sei',
       'Muçulmano'], dtype=object)

In [24]:
data['Religion'] = data['Religion'].replace('Ateu','Atheist')    ## uniform answers
data['Religion'] = data['Religion'].replace('Católico','Christian')
data['Religion'] = data['Religion'].replace('Pastafarinismo','Pastafarianism')
data['Religion'] = data['Religion'].replace('Agnóstico','Agnostic')
data['Religion'] = data['Religion'].replace('Não sei','Don’t know')
data['Religion'] = data['Religion'].replace('Muçulmano','Muslim')

In [25]:
data['Religion'].unique()  ## check changes made

array(['Atheist', 'Christian', 'Pastafarianism', 'Agnostic', 'Don’t know',
       'Muslim'], dtype=object)

In [26]:
## Income

In [27]:
data['Income'].unique()  ## check unique values

array(['1600 - 2000 euros', '1000 - 1300 euros', '800 - 1000 euros',
       'Mais de 3000 euros', '1300 - 1600 euros', 'Menos de 800 euros',
       '2000 - 3000 euros'], dtype=object)

In [28]:
data['Income'] = data['Income'].replace('Mais de 3000 euros','More than 3000 euros')    ## uniform answers
data['Income'] = data['Income'].replace('Menos de 800 euros','Less than 800 euros')

In [29]:
data['Income'].unique()  ## check changes made

array(['1600 - 2000 euros', '1000 - 1300 euros', '800 - 1000 euros',
       'More than 3000 euros', '1300 - 1600 euros', 'Less than 800 euros',
       '2000 - 3000 euros'], dtype=object)

In [30]:
## Kids

In [31]:
data['Kids'].unique()  ## check unique values

array(['Não', nan, 'Sim'], dtype=object)

In [32]:
data['Kids'] = data['Kids'].replace('Não','No')    ## uniform answers
data['Kids'] = data['Kids'].replace('Sim','Yes')

In [33]:
data['Kids'].unique()  ## check changes made

array(['No', nan, 'Yes'], dtype=object)

In [34]:
## Relationship

In [35]:
data['Relationship'].unique()  ## check unique values

array(['Sim', 'Não'], dtype=object)

In [36]:
data['Relationship'] = data['Relationship'].replace('Não','No')    ## uniform answers
data['Relationship'] = data['Relationship'].replace('Sim','Yes')

In [37]:
data['Relationship'].unique()  ## check changes made

array(['Yes', 'No'], dtype=object)

In [38]:
## Relationship type

In [39]:
data['Relationship type'].unique()  ## check unique values

array(['Casamento/Relacionamento monogâmico ou exclusivo', nan],
      dtype=object)

In [40]:
data['Relationship type'] = data['Relationship type'].replace('Casamento/Relacionamento monogâmico ou exclusivo','Monogamous')    ## uniform answers

In [41]:
data['Relationship type'].unique()  ## check changes made

array(['Monogamous', nan], dtype=object)

In [42]:
## Relationship type

In [43]:
data['Time together'].unique()  ## check unique values

array(['18 meses', nan, '10 meses', '0,9', '6 meses', '4 anos', '1 ano',
       '5 anos', '3', '3 anos', '4', '6', '6 anos', '6 meses.', '12 anos',
       '12', '8 anos', '11 anos', '22 anos', '10 anos', '32 anos',
       '13 anos', '28 anos', '13', '2 meses', '2 anos e 7 meses',
       '2.5 anos', '1 ano e 8 meses', '32', '7 meses '], dtype=object)

In [44]:
#data['Relationship type'] = data['Relationship type'].replace('Casamento/Relacionamento monogâmico ou exclusivo','Monogamous')    ## uniform answers

Add new columns

In [45]:
data.head()

,Timestamp,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],...,Relationship[Commitment],Relationship[Thoughtfulness],Relationship[Forgiveness],Relationship[Gentleness],Relationship[Affection],Relationship[Appreciation],Relationship[Validation],Relationship[Freedom],Relationship[Alone],Relationship type
0,2021/07/12 11:01:16 pm CET,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,...,6.0,5.0,6.0,6.0,5.0,5.0,4.0,5.0,5.0,Monogamous
1,2021/07/12 11:03:44 pm CET,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021/07/12 11:04:04 pm CET,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,...,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,Monogamous
3,2021/07/12 11:04:34 pm CET,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,4.0,Monogamous
4,2021/07/12 11:12:31 pm CET,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
data = data.drop(['Timestamp'], axis=1)

data['ID'] = [i for i in range(len(data.index))]

In [47]:
data.tail()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Thoughtfulness],Relationship[Forgiveness],Relationship[Gentleness],Relationship[Affection],Relationship[Appreciation],Relationship[Validation],Relationship[Freedom],Relationship[Alone],Relationship type,ID
45,22,Male,Heterosexual,Bachelor,Atheist,Less than 800 euros,7,8,6,7,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,Monogamous,45
46,19,Male,Heterosexual,High school,Muslim,Less than 800 euros,8,8,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46
47,55,Female,Heterosexual,Doctorate,Christian,1300 - 1600 euros,7,7,7,7,...,5.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,Monogamous,47
48,22,Female,Heterosexual,Bachelor,Christian,Less than 800 euros,7,7,5,6,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,Monogamous,48
49,22,Female,Heterosexual,Bachelor,Agnostic,Less than 800 euros,7,8,5,5,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,Monogamous,49

In [48]:
data['Relationship score'] = data['Relationship[Respect]'] + data['Relationship[Vulnerability]'] + data['Relationship[Trust]'] + data['Relationship[Honesty]'] + data['Relationship[Kindness]'] + data['Relationship[Boundaries]'] + data['Relationship[Commitment]'] + data['Relationship[Thoughtfulness]'] + data['Relationship[Forgiveness]'] + data['Relationship[Gentleness]'] + data['Relationship[Affection]'] + data['Relationship[Appreciation]'] + data['Relationship[Validation]'] + data['Relationship[Freedom]'] + data['Relationship[Alone]']

In [49]:
## Gender

In [50]:
data['Gender'].unique() ## see our options

array(['Male', 'Female'], dtype=object)

In [51]:
# create a list of our conditions
conditions = [
    (data['Gender'] == 'Male'),   ## male will be 0
    (data['Gender'] == 'Female')]  ## female will be 1

# create a list of the values we want to assign for each condition
values = [0, 1]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Gender_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Gentleness],Relationship[Affection],Relationship[Appreciation],Relationship[Validation],Relationship[Freedom],Relationship[Alone],Relationship type,ID,Relationship score,Gender_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,6.0,5.0,5.0,4.0,5.0,5.0,Monogamous,0,77.0,0
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,6.0,6.0,6.0,6.0,6.0,6.0,Monogamous,2,88.0,1
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,6.0,6.0,6.0,6.0,6.0,4.0,Monogamous,3,88.0,0
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,0

In [52]:
## Sexual orientation

In [53]:
data['Sexual orientation'].unique() ## see our options

array(['Heterosexual', 'Homosexual', 'Prefer not to disclose'],
      dtype=object)

In [58]:
# create a list of our conditions
conditions = [
    (data['Sexual orientation'] == 'Heterosexual'),   ## Heterosexual will be 0
    (data['Sexual orientation'] == 'Homosexual'),
    (data['Sexual orientation'] == 'Prefer not to disclose')]  ## Homosexual will be 1

# create a list of the values we want to assign for each condition
values = [0, 1, None]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Sexual orientation_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Affection],Relationship[Appreciation],Relationship[Validation],Relationship[Freedom],Relationship[Alone],Relationship type,ID,Relationship score,Gender_nm,Sexual orientation_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,5.0,5.0,4.0,5.0,5.0,Monogamous,0,77.0,0,0
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0,0
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,6.0,6.0,6.0,6.0,6.0,Monogamous,2,88.0,1,0
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,6.0,6.0,6.0,6.0,4.0,Monogamous,3,88.0,0,0
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,0,0

In [60]:
## School

In [61]:
data['School'].unique() ## see our options

array(['Bachelor', 'High school', 'Master', 'Doctorate'], dtype=object)

In [62]:
# create a list of our conditions
conditions = [
    (data['School'] == 'High school'),   ## High school will be 0
    (data['School'] == 'Bachelor'),
    (data['School'] == 'Master'),
    (data['School'] == 'Doctorate')]  ## Doctorate will be 3

# create a list of the values we want to assign for each condition
values = [0, 1, 2, 3]

# create a new column and use np.select to assign values to it using our lists as arguments
data['School_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Appreciation],Relationship[Validation],Relationship[Freedom],Relationship[Alone],Relationship type,ID,Relationship score,Gender_nm,Sexual orientation_nm,School_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,5.0,4.0,5.0,5.0,Monogamous,0,77.0,0,0,1
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,NaN,NaN,NaN,NaN,1,NaN,0,0,0
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,6.0,6.0,6.0,6.0,Monogamous,2,88.0,1,0,2
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,6.0,6.0,6.0,4.0,Monogamous,3,88.0,0,0,2
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,NaN,NaN,NaN,NaN,4,NaN,0,0,1

In [63]:
## Income

In [64]:
data['Income'].unique() ## see our options

array(['1600 - 2000 euros', '1000 - 1300 euros', '800 - 1000 euros',
       'More than 3000 euros', '1300 - 1600 euros', 'Less than 800 euros',
       '2000 - 3000 euros'], dtype=object)

In [66]:
# create a list of our conditions
conditions = [
    (data['Income'] == 'Less than 800 euros'),   ## Less than 800 euros will be 0
    (data['Income'] == '800 - 1000 euros'),
    (data['Income'] == '1000 - 1300 euros'),
    (data['Income'] == '1300 - 1600 euros'),
    (data['Income'] == '1600 - 2000 euros'),
    (data['Income'] == '2000 - 3000 euros'),
    (data['Income'] == 'More than 3000 euros')]  ## More than 3000 euros will be 6

# create a list of the values we want to assign for each condition
values = [0, 1, 2, 3, 4, 5, 6]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Income_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Validation],Relationship[Freedom],Relationship[Alone],Relationship type,ID,Relationship score,Gender_nm,Sexual orientation_nm,School_nm,Income_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,4.0,5.0,5.0,Monogamous,0,77.0,0,0,1,4
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,NaN,NaN,NaN,1,NaN,0,0,0,2
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,6.0,6.0,6.0,Monogamous,2,88.0,1,0,2,2
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,6.0,6.0,4.0,Monogamous,3,88.0,0,0,2,4
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,NaN,NaN,NaN,4,NaN,0,0,1,1

In [ ]:
## Relationship

In [67]:
data['Relationship'].unique() ## see our options

array(['Yes', 'No'], dtype=object)

In [68]:
# create a list of our conditions
conditions = [
    (data['Relationship'] == 'Yes'),   ## Yes will be 1
    (data['Relationship'] == 'No')]  ## No will be 0

# create a list of the values we want to assign for each condition
values = [1, 0]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Relationship_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Freedom],Relationship[Alone],Relationship type,ID,Relationship score,Gender_nm,Sexual orientation_nm,School_nm,Income_nm,Relationship_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,5.0,5.0,Monogamous,0,77.0,0,0,1,4,1
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,NaN,NaN,1,NaN,0,0,0,2,0
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,6.0,6.0,Monogamous,2,88.0,1,0,2,2,1
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,6.0,4.0,Monogamous,3,88.0,0,0,2,4,1
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,NaN,NaN,4,NaN,0,0,1,1,0

In [ ]:
## Kids

In [69]:
data['Kids'].unique() ## see our options

array(['No', nan, 'Yes'], dtype=object)

In [70]:
# create a list of our conditions
conditions = [
    (data['Kids'] == 'Yes'),   ## Yes will be 1
    (data['Kids'] == 'No'),
    (data['Kids'] == 'nan')]  ## No will be 0

# create a list of the values we want to assign for each condition
values = [1, 0, None]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Kids_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship[Alone],Relationship type,ID,Relationship score,Gender_nm,Sexual orientation_nm,School_nm,Income_nm,Relationship_nm,Kids_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,5.0,Monogamous,0,77.0,0,0,1,4,1,0
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,NaN,1,NaN,0,0,0,2,0,0
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,6.0,Monogamous,2,88.0,1,0,2,2,1,0
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,4.0,Monogamous,3,88.0,0,0,2,4,1,0
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,NaN,4,NaN,0,0,1,1,0,0

In [ ]:
## Religion

In [71]:
data['Religion'].unique() ## see our options

array(['Atheist', 'Christian', 'Pastafarianism', 'Agnostic', 'Don’t know',
       'Muslim'], dtype=object)

In [72]:
# create a list of our conditions
conditions = [
    (data['Religion'] == 'Atheist'),  ## Yes will be -1
    (data['Religion'] == 'Christian'),  ## Yes will be 1
    (data['Religion'] == 'Pastafarianism'),  ## Yes will be -1
    (data['Religion'] == 'Agnostic'),  ## Yes will be 0
    (data['Religion'] == 'Don’t know'),  ## Yes will be 0
    (data['Religion'] == 'Muslim')]  ## No will be 1

# create a list of the values we want to assign for each condition
values = [-1, 1, -1, 0, 0, 1]

# create a new column and use np.select to assign values to it using our lists as arguments
data['Religion_nm'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,Age,Gender,Sexual orientation,School,Religion,Income,Personal[Sincerity],Personal[Loyalty],Personal[Self-confidence],Personal[Braveness],...,Relationship type,ID,Relationship score,Gender_nm,Sexual orientation_nm,School_nm,Income_nm,Relationship_nm,Kids_nm,Religion_nm
0,28,Male,Heterosexual,Bachelor,Atheist,1600 - 2000 euros,6,7,4,5,...,Monogamous,0,77.0,0,0,1,4,1,0,-1
1,31,Male,Heterosexual,High school,Christian,1000 - 1300 euros,7,7,4,5,...,NaN,1,NaN,0,0,0,2,0,0,1
2,27,Female,Heterosexual,Master,Christian,1000 - 1300 euros,6,8,4,6,...,Monogamous,2,88.0,1,0,2,2,1,0,1
3,28,Male,Heterosexual,Master,Atheist,1600 - 2000 euros,8,8,8,8,...,Monogamous,3,88.0,0,0,2,4,1,0,-1
4,27,Male,Heterosexual,Bachelor,Pastafarianism,800 - 1000 euros,6,7,5,5,...,NaN,4,NaN,0,0,1,1,0,0,-1

## Export data into a new CSV File

In [73]:
data.to_csv('survey_results.csv',sep = ',',index=False)